body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
#search-form, 
#search-results,
#pagination, 
#recent-searches{
    display: flex;
    justify-content: center;
}
#search-form{
    gap: 6px;
}
#search-form > input + button{
    height: 40px;
    font-size: 15px;
}
#search-form input{
    padding-left: 5px;
}
#search-form button{
    font-weight: bold;
}
#recent-searches{
    flex-wrap: wrap;
}
#recent-searches-list{
    border: 2px solid black;
    margin-top: -8px;
}
#recent-searches-list li{
    margin-top: 5px;
    padding: 8px 5px;
}
#search-results div{
    text-align: center;
    margin: 5px 3px;
}
#search-results img{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
#search-results img,
#pagination button{
    border-radius: 5px;
}
#pagination{
    margin: 5px;
}
#pagination button{
    width: 100px;
    font-size: 18px;
    font-weight: 700;
    padding: 7px;
    margin: 6px;
    cursor: pointer;
}
#pagination button:not(:disabled):hover{
    background-color: darkgray;
}
#pagination button:disabled{
    cursor: not-allowed;
}
@media (max-width: 750px){
    #search-form{
        display: flex;
        flex-direction: column;
    }
    #search-form input{
        height: 30px;
    }
    #search-form > input + button{
        width: 300px;
    }
    #recent-searches-list{
        list-style-position: inside;
        padding-left: 10px;
    }
    #recent-searches-list li{
        font-size: 0.8em;
        margin: 3px 5px;
        padding: 6px;
    }
}